html {
    width: 100%;
    height: 100%;
}

h1 {
    font-size: 26px;
}

h2 {
    font-size: 22px;
}

.modal-underlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: 0.5;
    z-index: 1040;
    overflow-y: hidden;
}

body.modal-open {
    overflow: hidden;
    position: fixed;
}

.post-view-modal {
    width: 80vw;
    max-width: 80vw;
    height: 100vh;
}

.post-view-content {
    height: 90%;
    max-height: 90%;
}

.modal {
    overflow-y: hidden !important;
}

.modal-body {
    overflow: scroll;
}

.post-details {
    padding-bottom: 20px;
}

.post-subtitle {
    font-size: 14px;
}

.post-author {
    font-style: italic;
    margin-right: 1rem;
}

.post-time {
    text-decoration: underline;
    margin-right: 1rem;
}

.post-feed-name {
    margin-right: 0;
}
