html {
    width: 100%;
    height: 100%;
}

h1 {
    font-size: 26px;
}

h2 {
    font-size: 22px;
}

main {
    overflow: hidden;
}

.modal-underlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: 0.5;
    z-index: 1040;
    overflow-y: hidden;
}

body.modal-open {
    overflow: hidden;
    position: fixed;
}

.post-view-modal {
    width: 80vw;
    max-width: 80vw;
    height: 100vh;
}

.post-view-content {
    height: 90%;
    max-height: 90%;
}

.modal {
    overflow-y: hidden !important;
}

.modal-header {
    align-items: flex-start !important;
    padding-bottom: 0.2rem;
    border-bottom: none;
}

.modal-body {
    overflow: scroll;
}

.post-details {
    padding-bottom: 20px;
}

.post-details img {
    max-width: 100%;
}

.post-subtitle {
    font-size: 14px;
}

.post-author {
    font-style: italic;
    margin-right: 1rem;
}

.post-time {
    text-decoration: underline;
    margin-right: 1rem;
}

.post-feed-name {
    margin-right: 0;
}

.modal-toolbar {
    padding: 0.2rem 1rem;
    border-bottom: 1px solid #dee2e6;
    font-size: 18px;
}

.modal-toolbar i:hover {
    color: #0d6efd;
    font-weight: bold;
}

.v-spacer {
    display: inline;
    border-left: 1px solid #dee2e6;
    padding-left: 1rem;
    margin-left: 1rem;
}

.btn-toggle {
    display: inline-flex;
    padding: .25rem .5rem;
    font-weight: 600;
    color: rgba(0, 0, 0, .85);
    background-color: transparent;
    border: 0;
}

.btn-toggle-nav a {
    display: inline-flex;
    padding: .1875rem .5rem;
    margin-top: .125rem;
    margin-left: 1.25rem;
    text-decoration: none;
}

.feed-list {
    width: 280px;
    max-width: 280px;
    border-right: 1px solid #dee2e6;
    padding-top: 1rem;
    height: 100vh;
    max-height: 100vh;
    overflow-y: scroll;
    padding-bottom: 50px;
}

.posts-container {
    padding-top: 1rem;
}

.post-toolbar {
    padding-left: 1rem;
    padding-right: 1rem;
}

.add-container {
    margin-top: 40px;
}

hr {
    color: #dee2e6;
    opacity: 1;
}

a.folder-toggle {
    display: inline-flex;
    padding: 0 .5rem;
    text-decoration: none;
    font-size: 14px;
}